if SHIELD_BOARDSTUDIO_LEFT
config ZMK_SPLIT
    default y
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif
if SHIELD_BOARDSTUDIO_RIGHT
config ZMK_SPLIT
    default y
config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif
